<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Echo Vision 서버(app.py/app_v2.py)는 같은 와이파이 내 로컬 프로토타입 서버로 http(평문)만 지원한다.
         iOS(Info.plist의 NSAllowsArbitraryLoads)와 동일하게 전체 허용으로 둔다.
         (상용화 시 HTTPS로 교체 예정) -->

    <!-- flutter_foreground_task가 자동으로 넣어주지 않는 것들.
         FOREGROUND_SERVICE_DATA_SYNC + 아래 <service>의 foregroundServiceType은
         Android 14+에서 포그라운드 서비스 타입 선언이 필수라 둘 다 있어야 서비스가 뜬다. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- EMERGENCY(화재) 알림의 잠금화면 노출용. 선언해도 Android 14+에서는 기본 거부 상태라
         별도로 사용자 허가가 필요함 (설정 화면 안내는 앱 쪽에서 처리, main.dart/settings_screen.dart 참고). -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:label="Echo Vision"
        android:name="${applicationName}"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher">
        <!-- flutter_foreground_task의 서비스. dataSync = 서버와의 지속적인 데이터 연결 유지 용도. -->
        <service
            android:name="com.pravera.flutter_foreground_task.service.ForegroundService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
